.bundle
db/*.sqlite3
log/*.log
tmp/
log/
public/javascripts/users
public/javascripts/users/*
public/users
public/users/*
public/index.html
config/initializers/omniauth.rb
*.tmproj
.idea
.DS_Store
# config/database.yml