body {
  background-color: black;
  color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

h1 {
  font-family: Helvetica, sans-serif
  font-size: 48px
  font-style: italic
  font-variant: normal
  font-weight: bold
  height: 84px
  letter-spacing: normal
  line-height: normal
}

a {
  color: blue;
  text-decoration: none; }
  a img {
    border: none;
    margin: 0 2px; }

img {
  background-color: white; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 1042px;
  margin: 0 auto;
  background: black;
  padding: 0;
  border: solid 1px black;
  margin-top: 0; }
  #container #info {
    margin-bottom: 30px; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  color: black; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }
