- title 'Создай каллаж из фотографий своих друзей'
#info
  %ul
    %li 
      %p 
        %b Шаг 1: 
        подключи соц. сетям
        = link_to '(выйти)', "/signout", :id => 'signout', :style => 'display:none;'
      %ul#connections
        - %w(twitter vkontakte facebook).each do |provider|
          %li{:class => provider}= link_to provider, "/auth/#{provider}"
    %li
      %p 
        %b Шаг 2: 
        загрузи список друзей
      %a{:href => '/refresh_frendlist'} Загрузить
    %li
      %p 
        %b Шаг 3: 
        поделись с друзьями
      %a{:href => '#'} Поделиться
#svg_intro