- title 'Создай коллаж из фотографий своих друзей'

#container
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"

  %h1= yield(:title)
  %ul
    %li 
      %p 
        %b Шаг 1: 
        подключись к социальным сетям
        %a#signout_link.hide{:href => "/signout"} (Выйти)
      %ul#connections
        - %w(twitter vkontakte facebook).each do |provider|
          %li
            %a{:href => "/auth/#{provider}", :class => provider, :title => provider} &nbsp;
      .clear
    %li
      %p 
        %b Шаг 2: 
        создай коллаж (доступно раз в 5 минут)
        %a#refresh_link.hide{:href => '/refresh_frendlist'} Создать