- title 'Создай коллаж из фотографий своих друзей'

#container
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"

  %h1= yield(:title)
  %ul
    %li 
      %p 
        %b Шаг 1: 
        подключись к социальным сетям
        - if current_user
          %a#signout_link{:href => "/signout"} (Выйти)
      %ul#connections
        - connections = current_user ? current_user.authentications.collect(&:provider) : []
        - (%w(twitter vkontakte facebook) - connections).each do |provider|
          %li
            %a{:href => "/auth/#{provider}", :class => provider, :title => provider} &nbsp;
      .clear
    %li
      %p 
        %b Шаг 2: 
        создай коллаж (доступно раз в 5 минут)
        - if current_user
          %a#refresh_link{:href => '/refresh_frendlist'} Создать